<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="css/login.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="common-login">
	<div class="reg_bg"></div>
	<div class="login-resign-wrap">
    	<div class="login-resign-content">
        	<div class="jx-logo">
            	<img src="images/logo.png">
            	<h1>线损管理系统</h1>
            </div>
            <form class="loginer-form-1">
                <div class="input-inset-wrap">
                    <input type="text" class="input-inset input-login-resign" placeholder="手机/邮箱" >
                    <div class=" loginer-bg-wrap loginer-zhanghu"></div>
                </div>

                <div class="input-inset-wrap">
                    <input type="text" class="input-inset input-login-resign" placeholder="密码" >
                    <div class=" loginer-bg-wrap loginer-mima"></div>
                </div>
                <div class="checkbox-wrap checkbox-login">
                    <input type="checkbox" class="input-checkbox" >
                    <label class="checkbox-label" >记住我</label>
                    <a href="#" class="a-1">忘记密码？</a>
                    <div class="clear_both"></div>
                </div>

                <div>
                    <input class="btn btn-rect btn-primary btn-long login-resign-btn" type="submit"  value="登&nbsp;&nbsp;&nbsp;录">
                </div>

            </form>
            <div class="loginer-register">
                <a href="javascript:;">立即注册</a>
            </div>
        </div>
    </div>
    <div class="footer-bar">
    	Copyright © 2014-2015 <img src="images/yy.png">
    </div>
</div>
</body>
</html>
